[submodule "gateway/common-build"]
	path = gateway/common-build
	url = https://github.com/E-um-BSSM/server.git

[submodule "services/user/common-build"]
	path = services/user/common-build
	url = https://github.com/E-um-BSSM/server.git

[submodule "services/auth/common-build"]
	path = services/auth/common-build
	url = https://github.com/E-um-BSSM/server.git

[submodule "services/classroom/common-build"]
	path = services/classroom/common-build
	url = https://github.com/E-um-BSSM/server.git

[submodule "services/assignment/common-build"]
	path = services/assignment/common-build
	url = https://github.com/E-um-BSSM/server.git

[submodule "services/review/common-build"]
	path = services/review/common-build
	url = https://github.com/E-um-BSSM/server.git

[submodule "services/community/common-build"]
	path = services/community/common-build
	url = https://github.com/E-um-BSSM/server.git

[submodule "services/item/common-build"]
	path = services/item/common-build
	url = https://github.com/E-um-BSSM/server.git

[submodule "services/transaction/common-build"]
	path = services/transaction/common-build
	url = https://github.com/E-um-BSSM/server.git

[submodule "services/push/common-build"]
	path = services/push/common-build
	url = https://github.com/E-um-BSSM/server.git